---
---

<section>
    Esta es el página de Donación para hacer la vaki
</section>

<div class="contenedor_creador">
    <div class="contorno_creador">
        <div class="div_img_creador">
            <img src="" alt="Imagen del creador de contenido" class="img_creador">
        </div>
        <div>
            <div class="div_titulo_creador">
                Creador del contenido
            </div>
            <div class="div_nombre_creador">
                "Nombre del creador"
            </div>
            <a href="https://www.instagram.com/miguelpaez.dev/" target="_blank" rel="noopener noreferrer">
            <div class="div_button_perfil">
                Ver perfil
            </div>
            </a>
        </div>
    </div>
</div>