---
import '../assets/styles/logo.css';
---

<span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img src="https://res.cloudinary.com/dvey7dssc/image/upload/v1688692849/Thinker%20files/logo_thinker_-_sin_letras_100_x_1002_wvrndm.png" alt="Logotipo de los sistemas autoorganizados" style="width: 50px; height: 50px"> </span
>
<span class="nombre_pagina">
  Thinker
</span>
