---
import '../assets/styles/logo.css';
---
<link href="https://fonts.googleapis.com/css?family=Poppins:regular" rel="stylesheet">
<span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img src="https://res.cloudinary.com/dvey7dssc/image/upload/v1688700370/Thinker%20files/logo_thinker_-_sin_letras-sin_fondo_gf8v18.png" alt="Logotipo de los sistemas autoorganizados" style="width: 50px; height: 50px"> </span
>
<span class="nombre_pagina dark:text-white">
  Thinker
</span>
